.node-popup {
    padding: 5px !important;
    max-width: 350px;
    /* background-color: red !important; */
}

.simple-list-item {
    text-decoration: none;
}

.prop-node-link {
    margin-left: 5px;
}

.prop-node-url {
    text-overflow: ellipsis;
    width: 300px !important;
    white-space: nowrap;
    overflow: hidden;

}

.link-chip {
    margin-bottom: 2px;
}

.simple-list-item .link-chip {
    text-decoration: none !important;    
}

.element-prop-value {
    bottom: 4px;
}