.cstabs {
    margin-top: 0px;
}

html {
    /* overflow-y: hidden !important; */
}

.v-toolbar--clipped {
    z-index: 4 !important;
}

.cs-navigation-tabbar {
    margin-left: 20px;
}

.cs-navigation-tabbar .v-tabs__div {
    font-size: 20px;
    font-weight: 800;
}

.cs-navigation-tabbar .tabs__bar {
    /* background-color: transparent !important; */
}

.input-file {
    position: fixed;
    top: -100em;
}

.dialog-widget {
    height: 100%;
    width: 100%;
}

.menu {
    background-color: red;
}

.app-menu {
    color: red !important;
    /** margin-left:5px; */
}

@media only screen and (max-width: 480px) {
    .header-breadcrumbs {
        display: none !important;
    }
}

.notification-title {
    align-self: center;
    margin-left: 10px;
}

.sidebar {
    /* z-index:200 !important; */
}

.right-sidebar-title {
    margin-right: 10px;
}

.header-breadcrumbs {
    padding: 0 !important;
}

.header-breadcrumbs>li {
    padding: 0 !important;
}

.floating {
    margin-top: -64px !important;
}

.leftsidebar-pin {
    float: right;
    margin: 4px;
}

.leftsidebar-minify {
    position: absolute;
    right: 4px;
    bottom: 5px;
    z-index: 300;
}

.content--wrap {
    height: 100%;
}

.app-project-logo {
    height: 40px;
    margin: 4px;
}

.invert-logo {
    filter: invert(1);
}

.content {
    height: 100%;
    padding: 0;
}

.rightsidebar-toggle {
    width: 20px;
    height: 20px;
    position: absolute;
}