.flex-grid-manager {
  height: 100%;
}

.flex-background-widget {
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index: 0;
}

.flex-widget {
  height: 100%;
  width: 100%;
  /* z-index: 150; */
}
