.dashboard-content {
  height: 100%;
}

.dashboard-toolbar {

}

.dashboard-stepper {
  background: transparent !important;
  box-shadow: none !important;
  width: 100%;
  margin-top: -18px;
  height: 62px;
}
