.layer-legend-component {
    padding: 5px;
}

.map-legend-layer-title {
    font-weight: 600;
}

.map-legend-color-rectangle {
    width: 15px;
    height: 15px;
    background: gray;    
}

.map-legend-color-text {
    position: relative;
    margin-left: 10px;
}

.layer-editor-type-image {
    /* width: 32px !important; */
    margin: 10px;
    margin-right:13px;
    margin-top:15px;
    cursor: pointer;
}