.v-input--selection-controls {
    margin-top: 0;
    padding-top: 0;
}


.layer-group-item:hover {
    border-left-style: solid;    
    border-left-color: gray;
    border-left-width: 4px;
    margin-left:-4px;
}

.layer-group-item-selected {        
    border-left-style: solid;    
    border-left-color: gray;
    border-left-width: 4px;
    margin-left:-4px;
}

.layer-group-item {        
    padding-left: 15px;
}

.layer-options-button {
    right: 0;
    margin: 0;
    color: lightgray !important;
    margin-top: -10px;
}

.layer-group-title:hover {
    border-left-style: solid;    
    border-left-color: lightgray;
    border-left-width: 4px;
    padding-left: 0px;
}

.layer-group-title > .v-expansion-panel__header
{
    font-size:25px;    
    margin-left: 5px;
    padding-left: 0px;
    padding-right: 5px;
    margin-right: 3px;
}

.layer-group-title {
    border-left-style: solid;    
    border-left-color: transparent;
    border-left-width: 4px;
    padding-left: 0px;
}

