.cstabs {
    margin-top:0px;
    background-color: white;
}

.content--wrap {
  height: 100%;
}

.content {
  height: 100%;
  padding:0;
}

.dashboard-fullscreen {
  margin: 0;
  height:100%;
}

.tabsdemoDynamicTabs md-content {
    background-color: transparent !important; }
    .tabsdemoDynamicTabs md-content md-tabs {
      border: 1px solid #e1e1e1; }
      .tabsdemoDynamicTabs md-content md-tabs md-tab-content {
        background: #f6f6f6; }
      .tabsdemoDynamicTabs md-content md-tabs md-tabs-wrapper {
        background: white; }
    .tabsdemoDynamicTabs md-content h1:first-child {
      margin-top: 0; }