.leftsidebar-pin {
  float: right;
  margin: 4px;
}

.leftsidebar-minify {
  position: absolute;
  right: 4px;
  bottom: 5px;
}

.sidebar-active-tile {
  background-color: red;
}

.cs-sidebar-list .v-icon.theme--light {
  color: rgba(0, 0, 0, 0.85);
  width: 100%;
  height: 100%;
}

/* .list__group__header__append-icon {
  display:none;
} */
