.md-body table {
    border-collapse: collapse;
    margin: 0px 4px;
}

.md-body table th,
.md-body table td {
    border: 1px solid grey;
    padding: 2px 4px;
}

.full-height-tab {
    height: calc(100% - 50px);
    padding-bottom: 24px;
}
