.layer-editor-component {
    padding: 5px;
}

.layer-editor-form {
    padding: 5px;
}

.layer-editor-form .v-expansion-panel {
    box-shadow: none !important;
}

.layer-editor-type-image {
    /* width: 32px !important; */
    margin: 10px;
    margin-right:13px;
    margin-top:15px;
    cursor: pointer;
}