.muuri-grid {
    position: relative;
    width:100%;
  }

  .muuri-grid-header {
      padding:8px;
  }

  .muuri-item {
    display: block;
    position: absolute;    
  }
  .item.muuri-item-dragging {
    z-index: 3;
  }
  .item.muuri-item-releasing {
    z-index: 2;
  }
  .item.muuri-item-hidden {
    z-index: 0;
  }
