.split-grid-comp {
    width: 100%;
    height: 100%;
}

.split-manager {
    height: 100vh;
}

.vsg_gutter {
    background-color: #80808078 !important;
}

.hide-vertical-scroll {
    overflow-y: hidden;
}
